@model IEnumerable<WebCA_LeahuLorena.Models.Model>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.countryShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privatePassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.countryShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departament)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.privatePassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
